@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;
    font-size: 0.8rem;
    padding-left: 10rem;
    padding-right:10rem;
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    background-color: #000000;
    padding: 1rem;
    padding-top: 0.3rem;
}

.navbarIcon {
    width: 1rem;
}
 
/*  section one */

.sectionOne {
    background-color: #000000;
}

.sectionOneImageSection {
    display: flex;
    justify-content: center;
}

.sectionOneImage {
    width: 37rem;
}

.sectionOneText {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

/* end of section one */

/* start of section two */
.sectionTwo {
    margin-top: 3rem;
    background-color:#fbfbfd
}

.sectionTwoText {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.sectionTwoImage {
    width: 26rem;
}

.sectionTwoImageSection {
    display: flex;
    justify-content: center;
}

/* end of section two */

button {
    background-color: transparent;
    border: none;
    line-height: 0rem;
    color: #2997FF;
    font-size: 1.3rem;
    
}

h1 {
    line-height: 0rem;
    font-size: 3.8rem;
}

h2 {
    line-height: 0rem;
    font-size: 2rem;
}

