@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbarIcon {
    width: 1rem;
}